doctype html
html(lang="en")
    head
        title aifoon - Swarm Unit
        link(rel="stylesheet", type="text/css", href="css/normalize.css")
        link(rel="stylesheet", type="text/css", href="css/skeleton.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        div(class="parent")
            div(class="center")
                div(class="row", style="text-align:center;")
                    img(src="img/aifoon-logo-small.png")
                div(class="row", style="height:25px;")
                div(class="row", style="text-align:center;") API version: #{apiVersion}
                div(class="row", style="text-align:center;") Pure Data version: #{pdVersion}
                div(class="row", style="text-align:center;") Startup scripts version: #{startupVersion}
                div(class="row", style="text-align:center;") Developed by: #{author}