/*
 * The Styles
 * @author Tim De Paepe <tim.depaepe@gmail.com>
 */

body {
    background-color: #000000;
    color: #ffffff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}